.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: var(--body-font);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--spacing-giant);
  max-height: var(--spacing-giant);
  padding: 0 var(--spacing-large);
  box-shadow: inset 0px -1px 0px var(--light-primary-color);
  font-weight: 600;;
}

.logo {
  font-size: 18px;
  color: var(--primary-color);
  letter-spacing: -0.5px;
}

.score {
  color: var(--text-secondary-color);
}

.score span {
  color: var(--text-primary-color);
}

.gameArea {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  grid-gap: var(--spacing-medium);
  padding: var(--spacing-large);
}

.gameArea img {
  width: 100%;
  max-width: var(--card-size);
}

.footer {
  padding: var(--spacing-large);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.current-score {
  margin-bottom: var(--spacing-medium);
}

.current-score span {
  margin-left: var(--spacing-micro);
}

.loser-message,
.winner-message {
  font-size: 18px;
  font-weight: 600;
}

.loser-message {
  color: var(--error-color);
}

.winner-message {
  color: var(--success-color);
}

.btn {
  padding: var(--spacing-tiny) var(--spacing-small);
  outline: 0;
  border-radius: var(--spacing-tiny);
  border: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
  transition: .2s background-color linear;
}

.btn-primary:hover {
  background-color: var(--dark-primary-color);
}