.app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: var(--body-font);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--spacing-giant);
  padding: 0 var(--spacing-large);
  box-shadow: inset 0px -1px 0px var(--light-primary-color);
  font-weight: 600;;
}

.logo {
  font-size: 18px;
  color: var(--primary-color);
  letter-spacing: -0.5px;
}

.score {
  color: var(--text-secondary-color);
}

.score span {
  color: var(--text-primary-color);
}

.gameArea {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  grid-column-gap: var(--spacing-medium);
  padding: var(--spacing-large);
}

.gameArea img {
  width: 100%;
  max-width: var(--card-size);
}